* {
    background-color: rgba(255, 255, 255, 0.733);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    box-sizing: border-box;
}

body {
    background-color: rgba(79, 255, 146, 0.781);
    margin: auto;
    margin-top:10px;
    width: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.title {
    text-transform: uppercase;
    width: 70%;
    color: rgb(236, 112, 81);
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
}

h3 {
    background-color: transparent;
    margin-left: 15px;
}

p {
    background-color: transparent;
    margin-left: 20px;
}